<tr>
    <th>Surface :</th>
    <td class="input-group input-group-sm">{{number-input numericValue=top_Z}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th>Bottom Z :</th>
    <td class="input-group input-group-sm">{{number-input numericValue=bottom_Z}} <span
            class="input-group-addon">mm</span></td>
</tr>
