<div>
    <table class="form">
        <tbody>
        <tr class="form-header">
            <th>Name:</th>
            <td>{{input value=name placeholder="name"}} </td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{view Ember.Select value=type content=operationDescriptors optionValuePath="content.class" optionLabelPath="content.label"}}</td>
        </tr>
        <tr>
            <th>Inside Shape</th>
            <td>{{input type="checkbox" checked=inside}}</td>
        </tr>
        {{partial specialTemplate}}
        </tbody>
    </table>
</div>