<tr>
    <th title="in mm">Bottom Z:</th>
    <td>{{view Visucam.NumberView value=pocket_depth}}</td>
</tr>
<tr>
<th title="Engagement in %">Radial Engagement:</th>
    <td>{{view Visucam.NumberView value=pocket_engagement min="0" increment="1" max="100"}}</td>
</tr>