<div style="border: solid gray 1px">
    <table>
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{input value=name placeholder="name"}} </td>
        </tr>
        <tr>
            <th>Inside Shape</th>
            <td>{{input type="checkbox" checked=inside}}</td>
        </tr>
        {{partial specialTemplate}}
        </tbody>
    </table>
</div>