<label>Start Z: {{view Visucam.NumberView value=startZ}}</label>
<br>
<label>Stop Z: {{view Visucam.NumberView value=stopZ}}</label>
<br>
<label># of turns: {{view Visucam.NumberView value=turns min="1" step="1"}}</label>