<tr>
    <th>Start Z:</th>
    <td>{{view Visucam.NumberView value=startZ}}</td>
</tr>
<tr>
    <th>Stop Z:</th>
    <td>{{view Visucam.NumberView value=stopZ}}</td>
</tr>
<tr>
    <th># of turns:</th>
    <td>{{view Visucam.NumberView value=turns min="1" step="1"}}</td>
</tr>
