<div>
    <table class="form">
        <tbody>
        <tr class="form-header">
            <th>Name:</th>
            <td>{{input value=name placeholder="name"}} </td>
        </tr>
        </tbody>
    </table>
</div>