<tr>
    <th>Inside Shape</th>
    <td>{{input type="checkbox" checked=contour_inside}}</td>
</tr>
<tr>
    <th>Climb Milling</th>
    <td>{{input type="checkbox" checked=contour_climbMilling}}</td>
</tr>
<tr>
    <th title="How far the tool should stay away from the line in X-Y plane">Leave Stock:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=contour_leaveStock min="0"}} <span
            class="input-group-addon">mm</span></td>
</tr>
<tr>
    <th>Contour Z:</th>
    <td class="input-group input-group-sm">{{number-input numericValue=bottom_Z}} <span
            class="input-group-addon">mm</span></td>
</tr>
