@keyframes slide-in {
    from {
        transform: translateX(100%) translateY(100%);
    }

    to {
        transform: translateX(0) translateY(0%);
    }
}

.sp-popup a {
    text-align: center;
    margin-left: 10px;
    font-size: 25px;
    line-height: 50px;
}

.sp-popup {
    animation: slide-in 650ms;
    height: 50px;
    width: 300px;
    display: inline-block;
    text-align: left;
    color: white;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}