
.TwoDView * {
    vector-effect: non-scaling-stroke;
}

.TwoDView {
    top: 0;
    display: flex;
    display: -webkit-flex;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    overflow: hidden;

    align-items: stretch;
}

.TwoDView > svg {
    flex: 1 0 auto;
    -webkit-flex: 1;
}

.TwoDView .background {
    opacity: 0.4;
}

.TwoDView .grid * {
    vector-effect: non-scaling-stroke;
}

.TwoDView .mmGrid {
    stroke: #FF7F2A;
    stroke-dasharray: 5, 2;
    stroke-width: 0.5;
}

.TwoDView .halfCmGrid {
    stroke: #FF7F2A;
    stroke-width: 0.5;
    stroke-dasharray: none;
}

.TwoDView .cmGrid {
    stroke: #FF7F2A;
    stroke-dasharray: 5, 2;
    stroke-width: 2;
    font-size: 2px;
}

.TwoDView .halfDmGrid {
    stroke: #FF7F2A;
    stroke-width: 2;
    font-size: 7px;
}

.TwoDView .dmGrid {
    stroke: #FF7F2A;
    stroke-width: 4;
    font-size: 10px;
}

.TwoDView .gridText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: middle;
    cursor: default;
    stroke: none;
    fill: rgb(128, 128, 128);
}

.computingPolygon {
    stroke: none;
}

#computingFill * {
    opacity: 0.5;
}

#computingFill rect {
    stroke: none;
    fill: yellow;
}

#computingFill line {
    stroke: black;
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes slidein {
    0% {
        -webkit-transform: translate(0, -1px);
    }
    100% {
        -webkit-transform: translate(0, 2px);
    }
}

.undercutPolygon {
    fill: red;
}